/* *----------- header* -----------*/
.container {
  margin-inline: auto;
  margin: auto;
  padding: 0 15px;
}

.header {
  background: beige;
}

.header .header__wrapper {
  display: none;
}

.header img {
  width: 15rem;
  height: 4rem;
}

.header .navbar {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.header__logo--dark,
.header__logo--light {
  display: none;
}

.light-mode .header__logo--light,
.dark-mode .header__logo--dark {
  display: block;
}

.header__group {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__theme--mobile,
.header__icon--close {
  background: var(--bg-tertiary);
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 25px;
  transition: 0.2s all linear;
}

:is(.header__theme--mobile, .header__icon--close, .header__menu):hover {
  background: var(--accent-color);
  color: var(--white-color);
}

.header__theme--mobile i {
  display: none;
}

.header__theme--mobile.header__theme--light .sun,
.header__theme--mobile.header__theme--dark .moon {
  display: block;
}

.header__menu {
  background: var(--action-secondary);
  color: var(--foreground-tertiary);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 25px;
  transition: 0.4s all linear;
  display: none;
}

.header__mobile {
  position: fixed;
  inset: 0;
  background: #fff;
  padding: 70px 20px;
  overflow: auto;
  overscroll-behavior: contain;
  transform: translateX(100%);
  /* transition: 0.5s cubic-bezier(1, 0, 0.3, 0.7); */
  z-index: 10;
}

.header__mobile.active {
  transform: translateX(0);
  visibility: visible;
}

.header__icon--close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.header__mobile .wrapper {
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #aeaeae;
  margin-bottom: 1.25rem;
}

.wrapper__title {
  font-size: 20px;
  margin-bottom: 1rem;
  font-weight: 600;
}

.wrapper__item {
  margin-bottom: 0.5rem;
}

.wrapper__item--link {
  font-size: var(--fs-3);
  color: var(--bg-secondary);
  font-weight: 600;
  transition: 0.3s all linear;
}

.wrapper__item--link:hover {
  color: var(--accent-color);
}

.header__wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__nav .header__nav--link {
  font-size: 20px;
  color: blue;
  font-weight: 500;
  transition: 0.3s all linear;
  cursor: pointer;
}

.header__nav .header__nav--link:hover {
  color: red;
}
.header__nav .header__nav--active {
  color: red;
  font-weight: 600;
  border-bottom: 1px solid #aeaeae;
}

.header__theme--btn {
  font-size: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 12px;
  transition: 0.3s all linear;
  cursor: pointer;
}

/* *----------- * blog * -----------*/
.blog-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 2rem;
  text-align: center;
  padding-bottom: 2rem;
}

.blog-info .blog-content .blog-title {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.blog-info .blog-content .blog-title strong {
  color: var(--accent-color);
  font-weight: 700;
}

.blog-info .blog-content .blog-desc {
  color: var(--bg-secondary);
  margin-bottom: 2rem;
  font-size: 1.6rem;
}

.blog-info .blog-content .blog-control {
  margin: 20px;
}

.blog-control .btn {
  min-width: 10rem;
  border-radius: 40px;
}

.blog-control .btn-primary {
  background: var(--accent-color);
  color: var(--white-color);
  padding: 0.8rem 1.2rem;
  border: 0;
  font-weight: bold;
}

.blog-control .btn-primary:hover {
  background-color: var(--bg-secondary);
  color: var(--action-secondary);
}

.blog-control .btn-secondary {
  background: var(--action-secondary);
  color: var(--bg-secondary);
  padding: 0.6rem 1.2rem;
  margin-left: 1rem;
  border: 2px solid var(--bg-tertiary);
  font-weight: bold;
}

.blog-control .btn-secondary:hover {
  border-color: var(--accent-color);
}

.blog-info .blog-right {
  display: none;
}

/* *----------- * Inform * -----------*/
.main {
  background-color: var(--background-secondary);
  padding: 10rem 0;
}

.inform {
}

.inform .title {
  /* border-left: 2px solid var(--background-primary); */
  line-height: 1.3;
  margin-bottom: 3rem;
  text-align: center;
}

.inform-group {
  margin-bottom: 3rem;
}

.inform-card {
  background-color: var(--background-primary);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0%, 0%, 0.05);
  transition: 0.25s ease;
  cursor: pointer;
}

.inform-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
}

.inform-banner {
  display: none;
}

.inform-content {
  padding: 1rem 5rem;
}

.inform-content .inform-title {
  background: var(--action-secondary);
  color: var(--bg-secondary);
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  transition: 0.2s all linear;
}

.inform-content .inform-title:hover {
  background: var(--bg-secondary);
  color: var(--action-secondary);
}

.inform-sub {
  line-height: 1.4;
  margin-bottom: 1rem;
  transition: 0.2s all linear;
  color: var(--bg-primary);
}

.inform-sub:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.inform-desc,
.inform-wrapper {
  display: none;
}

.inform-detail {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
}

.inform-detail .inform-name {
  display: block;
  color: var(--bg-secondary);
}

.inform-detail .inform-name:hover {
  color: var(--accent-color);
}

.inform-timer {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--bg-tertiary);
}

.seperator {
  background-color: var(--accent-color);
  margin: 0 0.3rem;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
}

.btn-more {
  display: block;
  margin: 0 auto;
  background-color: var(--bg-secondary);
  color: var(--background-secondary);
  padding: 0.6rem 1.8rem;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.2s all linear;
}

.btn-more:hover {
  background: var(--accent-color);
  color: var(--background-primary);
}

.inform-timer i {
  color: #32a933;
}
